/* Global text styles */
* {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color: rgb(209, 213, 219);
}

p {
    line-height: 1.5;
}

a {
    text-decoration: underline;
    cursor: pointer;

    font-weight: 700;
}

a, p {
    font-size: .875rem;
}

/* Codeblock style */
code:not(.hljs) {
    margin-top: 3px;
    padding: 3px 5px;

    border-radius: 4px;

    background-color: #E5E7EB;
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;

    background-color: rgb(24, 24, 27);
}

body::-webkit-scrollbar {
    display: none;
}

main {
    margin: 100px 30vw;

    & #intro {
        margin-bottom: 50px;

        & h1 {
            font-size: 2.25rem;
        }
    }

    & #content > * {
        & h2 {
            font-size: 1.5rem;
            margin-bottom: 12px;
        }

        & p {
            margin-top: 0;
        }

        margin-bottom: 50px;
    }
}

.meta * {
    margin-right: 10px;
}

.tags {
    display: flex;

    & p {
        font-size: .75rem;
        color: rgb(107, 114, 128);
        
        margin-right: 15px;
    }
}
