body {
    width: 100vw; 
    padding: 0 30%;
}

main {
    margin-top: 100px;

    #intro {
        margin-bottom: 50px;

        & h1 {
            font-size: 2.5rem;
        }

        & p {
            font-size: 1.25rem;
        }
    }

    #lib {
        & div {
            margin-bottom: 50px;
        }
    }
}

strong a {
    margin-right: 10px;
}
